html,
body,
textarea,
hr,
 {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  word-break: keep-all;
  letter-spacing: 1px;
}

/*h1{
  font-size: 30px; 
  font-family: 'Noto Sans KR', sans-serif;
}*/

p{
  font-size: 18px;
  line-height: 30px; margin: 30px;
  word-break: keep-all;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg{

}

.pre {
    position: absolute;
}



  #jb-container {
    margin: 10px auto;
    padding: 20px;
  }
  #jb-header {
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    border: 10px solid #000000;
    background-color: white;
  }
  #jb-content {
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 550px;
  }
  #jb-content2 {
    padding: 10px;
    margin: auto;
    margin-bottom: 100px;
    border: 10px solid #000000;
    background-color: white;
  }
    #jb-content3 {
    padding: 20px;
    margin: auto;
    margin-bottom: -2px;
    background-color: #3953A4;
  }
  #jb-content4 {
    margin: auto;
    margin-bottom: 150px;
  }
/*  #jb-content4 {
    padding: 20px;
    margin-bottom: 300px;
    border: 1px solid #3953A4;
    background-color: #3953A4;
  }*/
  #jb-footer {
    padding: 40px;
    margin: auto;
    margin-top: 30px;
    border: 10px solid #000000;
    background-color: white;
  }

  @media screen and ( min-width: 481px ) {
    #jb-container {
      width: 940px;
    }
    #jb-header {
      width: 900px;
      clear: both;
    }
    #jb-content {
      width: 900px;
      float: left;
    }
    #jb-content2 {
      width: 500px;
      clear: both;
    }
    #jb-content3 {
      width: 500px;
      clear: both;
    }
    #jb-content4 {
      width: 500px;
      clear: both;
    }
/*    #jb-content4 {
      width: 900px;
      float: left;
    }*/
    #jb-footer {
      width: 1024px;
      clear: both;
    }

  body{
    background-size: 123%;
    background-image:url("https://media.giphy.com/media/o7OChVtT1oqmk/giphy.gif");
  }
  }

/**
 * ===================================
 *  Video post
 * ===================================
 */

.video-player {
  position: relative;
  line-height: 0;
}
.video-player video {
  width: 98%; /*비디오 크기*/
}
.video-player .btn {
    width: 100%; /*재생 버튼 크기 / 모양이 들어간 배경 크기*/
    position: absolute;
    top: 0%;
    background-color: transparent;
    cursor: pointer;
}

button {
  border: 0;
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
}
